$color-black: #36383b;
$color-grey: #FAFAFA;
$color-green: #15616D;
$color-white: #fff;
$color-green-1: #CEDFE1;
$bg-red: #DF5A5A;

$offset-l: 32px;
$offset-m: 24px;
$offset-x: 12px;
$offset-xl: 6px;
$offset-xs: 4px;