@import "../../baseStyles/variables";

.news-one__content {
  margin: $offset-m 0;

  .btn {
    margin-bottom: $offset-m;
  }
}

a.news__item__sub--value {
  &:hover {
    text-decoration: underline;
  }
}

.btns {
  display: flex;
  justify-content: space-between;
}